@page
@{
}
<div class="alert alert-info">
    <h1 class="alert-heading">Sorry Page not found</h1>
    <br />
    <a class="btn btn-outline-primary btn-sm" asp-page="/Restaurants/List">Return to list view</a>
</div>
